<div class="container mt-5">
    <form class="row g-3 needs-validation m-5" novalidate>
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Name</label>
            <input type="text" class="form-control " id="validationCustom01" required>
            
        </div>
        <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Date of birth</label>
            <input type="date" class="form-control" id="validationCustom02" required>
            
        </div>
        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">Skills</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                
            </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Department</label>
          <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              <option value="CSE">CSE</option>
              <option value="ECE">ECE</option>
              <option value="EEE">EEE</option>
              <option value="MECH">MECH</option>
              <option value="CIVIL">CIVIL</option>
              <option value="IT">IT</option>
          </select>
      </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">AddressLine1</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="streetno, landmark">
        </div>
        
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            
        </div>
        <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option value="Telangana">Telangana</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="TamilNadu">TamilNadu</option>
                <option value="Kerala">Kerala</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
  </div>